.footer{
    width: 100%;
    margin: 0;
    bottom: 0;
    height: auto;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
    padding: 1.5rem 0 0 0;
    font-weight: bold;
    color: #161616;
}

.container{
    width: 90%;
    margin: auto;
    padding: 5%;
}

.leftContainer{
    width: 50%;
    border-right: 1px solid #161616;
}

.rightContainer{
    width: 50%;
    float: right;
    text-align: right;
}