.main{
    margin:  3rem auto;
    width: 90%;
    color: #fff;
}

.heading{
    font-size: 85px;
    font-weight: bold;
    margin: 0;
}

.heading2{
    font-size: 60px;
    margin: 2% 0;
}

.subheading{
    font-size: 25px;
    margin: 0 0 2rem 0;

}

.containerleft{
    width: 33.33%;
    margin: 5% 0 5% 0 ;
}

.bottomline{
    width: 100%;
    height: 100;
    display: block;
    border-bottom: 1px solid rgb(160, 160, 160);
    margin: 2rem;
}

.images{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px 8px #161616 inset;
}

.containerright{
    width: 33%;
    float: right;
    text-align: right;
    display: inline;
    overflow: auto;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.button{
    background-color: #008080;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px 32px;
    font-weight: bold;
    font-size: 16pt;
    margin-right: 5px;
}
.button:hover{
    background-color: #095757;
}

.control{
    text-align: center;
}

.control a{
    text-decoration: none;
    color: #ffffff;
}
