.nav{
    text-align: right;
    float: right;
    height: 100%;
    font-size: 10pt;
}

.nav a{
    text-decoration: none;
    color: #161616;
    margin-left:0.5rem;
}

.nav a:hover,
.nav a:active,
.nav a.active {
    color: #008080;
    transition: 0.3s;
}

.nav svg{
    margin: 0 0.5rem 0 0;
}

.logo{
    width: 80px;
    display: block;
    float: left;
}

.container{
    margin: auto;
    width: 90%;
}


.header ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: baseline;
}

.header li {
    margin-left: 2rem;
}

.header a {
    text-decoration: none;
    font-size: 16pt;
    color: #161616;
}

.button{
    border: none;
    text-align: center;
    padding: 5px 20px;
    border: 2px solid #161616;
    border-radius: 20px;
}

.icon{
    height: 16pt;
    width: 16pt;
    margin: 10px 5px 0px 5px;
}

.button:hover{
    background-color: #008080;
    color: #fff !important;
    transition: 0.3s;
    border: none;
    border: 2px solid #008080;
}

.badge {
    background-color: #008080;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
}