.card{
    text-align: center;
    color: #161616;
    text-decoration: none;
}

.card :hover{
    color: #fff;
    background-color: #db4444;
    transition: 0.5s;
}

.button{
    border: none;
    text-align: center;
    padding: 5px 20px;
    border: 2px solid #161616;
    border-radius: 20px;
}


