.container{
    height: 100%;
}

.control{
    margin: 1rem 0;
}

.control label{
    display: block;
    margin-bottom: 0.5rem;
}

.control input,
.control textarea{
    display: block;
    border-radius: 4px;
    padding: 0.25rem;
    width: 100%;
}

.actions {
    margin-top: 1rem;
}
  
.actions button {
    font: inherit;
    cursor: pointer;
    background-color: #161616;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 2px solid #fff;
    border-radius: 4px;
    width: 100%;
}
  
.actions button:hover,
.actions button:active {
    background-color: #008080;
    border-color: #161616;
}

.card{
    background-color: #161616 !important;
    padding: 2rem;
    max-width: 400px;
    min-width: 200px;
    margin: auto;
}

.card2{
    background-color: #161616 !important;
    padding: 2rem;
    max-width: 600px;
    min-width: 200px;
    margin: auto;
}

.content{
    text-align: center;
    margin-top: 5px;
}

.content a{
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
}

.content a:hover{
    color: #008080;
}